<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2020年海南省体育赛事中心公开招聘</title>
    <link rel="stylesheet" href="static/css/style.css" />
		<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
  </head>
  <body>
    <div class="page_container">
      <div class="loginwarrp">
        <div id="logo" class="logo">2020年海南省体育赛事中心公开招聘</div>
        <div id="login-form" class="login_form">
          <form id="login" name="Login" onsubmit="" action="">
            <li class="login-item">
              <span>姓    名: </span>
              <input
                type="text"
                id="username"
                name="userName"
                class="login_input"
                autocomplete
              />
<!--              <span id="count-msg" class="error"></span>-->
            </li>
            <li class="login-item">
              <span>身份证号: </span>
              <input
                type="text"
                id="password"
                name="password"
                class="login_input"
                autocomplete
              />
<!--              <span id="password-msg" class="error"></span>-->
            </li>
            <li class="check-res">
              <span id="check-msg" class="error"></span>
            </li>
            <li class="login-sub">
              <input type="submit" value="查询"/>
            </li>
          </form>
        </div>
      </div>
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
  </body>
</html>
